@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: pink;
}

body *{
    font-family: 'Montserrat', sans-serif;

}

.borda{
    border: 1px solid black;
}


.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    position: relative;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}
.skew {
    width: 1000px;
    height: 10000px;
    background: rgb(90, 190, 193);
    -webkit-transform: skew(0deg); /* Chrome, Opera */
        -ms-transform: skew(0deg); /* IE */
            transform: skew(0deg); /* Padrão */
  }
  
  .positive {
    -webkit-transform: skew(10deg); /* Chrome, Opera */
        -ms-transform: skew(10deg); /* IE */
            transform: skew(10deg); /* Padrão */
  }
  
  .negative {
    -webkit-transform: skew(-10deg); /* Chrome, Opera */
        -ms-transform: skew(-10deg); /* IE */
            transform: skew(-10deg); /* Padrão */
    }
span{
    position: absolute;
    right: -340px;
    z-index: -3;
}
.kaguya{
    position: absolute;
    left: -100px;
    bottom: -80px;
    width: 700px;
    z-index: -1;
    
}
.shirogane{
    position: absolute;
    right: -10px;
    bottom: -80px;
    width: 700px;
    transform: rotate(-15deg);
    z-index: -1;
    
}

.perfil{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.perfil_botoes{
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
}

a{
    
    padding: 10px 40px;
    background: black;
    border: 1px solid black;
    border-radius: 40px;
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

a:hover{
    background: transparent;
    border: 1px solid black;
    color: black;
}

h1{
    font-weight: 900px;
    font-size: 73px;

}


